:root {
  --gbg-color: #005799;
  --bg-white: #ffffff;
  --font: Arial, Helvetica, sans-serif;
}



@media only screen and (max-width: 599px) {
  body {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  div.main {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }

  div.left div.right {
    width: 100%;
  }
  img.right {
    width: 100%;
    object-fit: cover;
  }
}
@media only screen and (min-width: 600px) {
  body {
    display: flex relative;
    flex-direction: row;
    position: relative;
  }



  body {
    box-sizing: content-box;
    display: 
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    background-color: var(--bg-white);  
  }

 

  header {
    box-sizing: content-box;
    width: 100%;
    height: 80px;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 0 12px;
    padding: 0px;
  }
  li {
    padding: 10px;
    margin-left: -40px;
  }
  h2 {
    font-size: x-large;
    font-weight: 800;
    text-decoration: underline;
  }
  
  a:link {
    color: var(--gbg-color);
    text-decoration: none;
    font-weight: 600;
  }
  
  a:visited {
    color: var(--gbg-color);
  }
  a:hover {
    color: var(--gbg-color);
    text-decoration: underline;
  }
  
  a:active {
    color: red;
  }


  
  div.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px;
  }
  div.left {
    width: 50%;
  }
  div.right {
    width: 50%;
  }
  img.right {
    position: relative;    
  }
}


img.logo {
  box-sizing: border-box;
  width: 160px;
  height: auto;
  object-fit: scale-down;
  padding: 7px;
}

div.left {
  box-sizing: border-box;
  background-color: var(--gbg-color);
  color: var(--bg-white);
  border: 0px solid #142d45;
  font-family: var(--font)
}
div.right {
  position: relative;
  box-sizing: border-box;
  border: 0px solid #0fa414;
  padding: 0;
  margin: 0;
}

div.icon_container {
  display: flex;
  flex-direction: row;
  border: 0px solid lightgray;
  margin: 0;
  padding: 0;
  align-content: center;
  align-items: center;
}
div.search {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  align-content: center;
  align-items: center;
  padding: 15px;
  width: 50px;
  font-weight: bold;
  font-family: var(--font);
}
div.menu {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  align-content: center;
  align-items: center;
  padding: 15px;
  width: 50px;
  font-weight: bold;
  font-family: var(--font);
}
img.right {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}
div.left_container {
  box-sizing: border-box;
  padding: 25px;
  font-family: var(--font);
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;
}
.left {
  text-align: center;
  font-size: 2em;
  font-weight: 900;
}
.div_a {
  font-size: 1rem;
  font-weight: 600;
  font-family: var(--font);
  background-color: var(--bg-white);
  padding: 15px;
  margin: 10px;
}



div.ul_purple {
  background-color: #f0f9f3;
  border-left-color: #008767;
  list-style: none;
  padding: 36px;
  margin: 20px;
  border-left-style: solid;
  font-family: var(--font);
}
div.ul_green {
  background-color: #f6f1f9;
  border-left-color: #674a99;
  list-style: none;
  padding: 36px;
  margin: 20px;
  border-left-style: solid;
  font-family: var(--font);
}
div.ul_rosa {
  background-color: #fdf4f8;
  border-left-color: #d53878;
  list-style: none;
  padding: 36px;
  margin: 20px;
  border-left-style: solid;
  font-family: var(--font);
}




section.video {
  color: var(--bg-white);
  padding: 15px;
  display: flex relative;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 300px;
  background-color: #333333;
  height: 365px;
  font-family: var(--font);
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #262626;
  color: var(--bg-white);
  font-family: var(--font);
  padding: 15px;
  width: 100%;
}
